@media screen and (max-width:550px ){

    .title{
        font-size: 6vh;
        text-align: center;
    }
    .box{
        font-size:4vh;
        width: 55%;

    }
    .flex-container{
    flex-direction:column;



    }

}