*, body{
    margin: 0;
    padding: 0;
}

#background_entete{
    height: 70vh;
    width: 100%;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}