*, body{
    margin: 0;
    padding: 0;
}

.background-header{
    background-color: #2EC4B6;
    width: 100%;
    height: 70vh;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}